@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 670px) { 
	.sidenav{
		display: none;
	}
	.form-outline{
		display: none !important;
	}

	.col-2{
		width: 35% !important;
	}

	.col-1{
		width: 20% !important;
	}

	.sidebar-navigation{
		height: 210vh !important;
	}

	.col-3{
		width: 70% !important;
		margin-bottom: 0px !important;
	}

	.tarifaCentrada .col-3{
		margin-left: 0px !important;
		width: 70%;
	}

	.tarifes p{
		font-size: 10px !important;
	}

	.tarifes{
		height: 450px !important;
	}

	.tarifes img{
		height: 70px !important;
	}

	.botoTarifa .btn-submit{
		font-size: 10px !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.sidenav{
		display: block;
	}

	.col-2{
		font-size: 10px !important;
	}

	.tarifaCentrada .col-3{
		width: 50%;
	}

	.tarifes p{
		font-size: 10px !important;
	}

	.tarifes{
		height: 450px !important;
	}

	.tarifes img{
		height: 70px !important;
	}

	.botoTarifa .btn-submit{
		font-size: 10px !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	.tarifaCentrada .col-3{
		margin-left: 0px !important;
		width: 70%;
	}

	.tarifes p{
		font-size: 10px !important;
	}

	.tarifes{
		height: 450px !important;
	}

	.tarifes img{
		height: 70px !important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

*{
    font-family: 'Montserrat', sans-serif;
}

.header form{
	padding: 20px;
}

.header input{
	display: inline-block;
}

*,*:after, *:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#contenedor_carga{
	background-color: #48B5D6;
	height: 100%;
	width: 100%;
	position: fixed;
	transition: 1s ease;
	z-index: 10000;
	margin: 0;
	padding: 0;
}

#carga{
	border: 15px solid white;
	border-top-color: #0196C1;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	animation: girar 1.5s linear infinite;
}

.tarifaCentrada{
	margin-left: 150px !important;
	margin-top: 50px !important;
}

.tarifaCentrada img{
	border-radius: 5px;
}

@keyframes girar{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.tarifaCentrada .col-3{
	width: 30%;
	position: relative;
	height: 700px;
}

.row > *{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.botoTarifa{
	bottom: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.header img{
	width: 50px !important;
}

/* Estils per els botons */
.btn-primary{
	background-color: #0196C1 !important;
	border: 0px !important;
}

.btn-primary:hover{
	background-color: white !important;
	color: black !important;
}

.btn-light{
	border: 0px !important;
}

.btn-light:hover{
	background-color: #0196C1 !important;
	color: white !important;
	border: 0px !important;
}

ul a{
	color: white !important;
}

/* Estil que serveix per alinear les targetes */
.card{
    display: inline-block !important;
    margin: 10px;
}

.card img{
    padding: 2px;
}

/* Estil per a totes les pagines - Titols */
h1{
    font-size: 35px !important;
}

h2{
    font-size: 20px !important;
}

h3{
	font-size: 17px !important;
}

p{
    font-size: 15px !important;
}

.title{
    font-size: 30px !important;
}

body{
    background-color: #EBEBEB !important;
    text-align: center;
}

.navbar{
    background-color: #48B5D6 !important;
}

.titol{
    padding: 50px;
}

.segonApartat{
    background-color: #0196C1;
    width: 100%;
    padding: 70px;
    padding-top: 40px;
}

.serveiSeparat{
    background-color: white;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 50px;
}

.serveiSeparat2{
    background-color: white;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 50px;
}


.serveiSeparat img{
    border-radius: 5px;
}

.serveiSeparat p{
    color: black !important;
    text-align: left;
    font-size: 15px !important;
}

.serveiSeparat2 p{
    color: black !important;
    text-align: left;
    font-size: 15px !important;
}

.segonApartat h2, .segonApartat p{
    color: white;
}

.header{
    display: inline-block;
}

.navInici{
    background-color: #48B5D6;
    padding: 20px;
}

.navIniciServeis{
	background-color: #48B5D6;
    /* background: url() */
    padding: 20px;
}

.boto{
    background-color: #046C95 !important;
    padding: 10px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    border-radius: 50px !important;
    color: white !important;
	text-decoration: none;
    border: 0px;
	font-size: 15px !important;
}

.buscadorTop{
	width: 95% !important;
	color: black !important;
}

.imatgeIniciSessio{
    display: inline-block !important;
    background-color: #B3E0EE;
    border-radius: 100%;
    height: auto;
}

.form-control{
    background-color: #B3E0EE !important;
}

.imatgeIniciSessio img{
    width: 15px;
    margin: 10px;
}

.lletraIniciSessio{
    align-items: center;
    display: inline-block !important;
}

.usuari{
	padding: 20px;
}

.imatgeUsuari{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	display: inline-block !important;
}

.estrellesUsuari{
	margin-top: -50px;
	margin-left: 10px;
	width: 15px !important;
}

.usuari p{
	align-items: center;
	color: white;
	padding-left: 10px;
	display: inline-block !important;
}

.sidenav {
	height: 100%;
	width: 300px;
	background-color: #0196C1;
	position: fixed !important;
	transition: 0.5s;
	padding-top: 15px;
}
	
.sidenav a {
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	background-color: #48B5D6;
	padding: 10px;
	margin: 5px;
}

.ajuda{
	margin-top: 50px !important;
}

.sidenav a:hover {
	color: white;
}

.pujarProducteCaixa{
	background-color: #48B5D6;
	color: white;
	text-align: left;
    padding: 2px;
    display: block;
	width: 100%;
    border-radius: 5px;
	float: right;
	margin-top: 20px;
	margin-right: 12px;	
}

.pujarProducteCaixa input{
	border-radius: 10px;
	background-color: #0196C1;
	border: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	padding: 5px;
}

.pujarProducteCaixa input:checked{
	border-radius: 10px;
	background-color: #0196C1;
	border: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: white;
	padding: 5px;
}

.input-container input{
	width: 100%;
}

.imatge{
	background-color: blue;
}

.pujarProducteCaixa label{
	font-size: 15px;
}

.row{
	margin: 20px;
}

.card-body img{
	width: 100px !important;
	margin: 2px;
	border-radius: 100%;
}

.card-body img:hover{
	border-radius: 100%;
	background-color: #0196C1;
	transition: 0.2s;
	cursor: pointer;
}

.missatges{
	background-color: #0196C1;
	color: white;
	text-align: left;
    padding: 2px;
    display: inline-block;
	width: 100%;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.buscadorContactes{
	margin-left: 460px;
}

.tarifes{
	background-color: #48B5D6;
	display: inline-block;
	margin: 10px;
	color: white;
	margin-top: 50px;
	margin-bottom: 10px !important;
	border-radius: 5px;
  	align-items: top;
}

.tarifes p{
	margin-top: 20px;
	font-size: 20px;
}

.botoTarifa .btn-submit{
	margin-bottom: 50px;
	font-size: 17px;
}

.botoTarifa .btn-submit:hover{
	background-color: #0196C1 !important;
}

.headerServeis{
	padding: 10vh;
	text-align: left;
	color: white;
}

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
	z-index: 5;
}

.glider-slide img{
	max-width: 30% !important;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 700px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px !important;
	line-height: 16px !important;
	display: block !important;
	text-align: right !important;
	transition: .3s ease all !important;
	color: #BBBBBB !important;
}

.popup .btn-cerrar-popup:hover {
	color: #000 !important;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	width: 83%;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

.pasarRegistre{
	color: #0075FF;
	cursor: pointer !important;
	display: inline-block;
	margin-left: 5px;
	font-weight: bold;
}

.pasarRegistre2{
	display: inline-block !important;
}

.btn-submit{
	background-color: #046C95 !important;
	width: 80%;
	margin-bottom: 20px;
    padding: 7px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    border-radius: 50px !important;
    color: white;
    border: 0px;
	font-size: 15px !important;
}

.targetaIniciSessio .input-container {
	position: relative;
	margin: 0 60px 50px;
  }
.targetaIniciSessio .input-container input {
	outline: none;
	z-index: 1;
	position: relative;
	background: none;
	width: 100%;
	height: 60px;
	border: 0;
	color: black;
	font-size: 20px;
	font-weight: 400;
}
.targetaIniciSessio .input-container input:focus ~ label {
	color: black;
	transform: translate(-12%, -50%) scale(0.75);
}
.targetaIniciSessio .input-container input:focus ~ .bar:before, .targetaIniciSessio .input-container input:focus ~ .bar:after {
	width: 50%;
}
.targetaIniciSessio .input-container input:valid ~ label {
	color: black;
	transform: translate(-12%, -50%) scale(0.75);
}
.targetaIniciSessio .input-container label {
	position: absolute;
	top: 0;
	left: 0;
	color: black;
	font-size: 15px;
	font-weight: 300;
	line-height: 60px;
	transition: 0.2s ease;
}
.targetaIniciSessio .input-container .bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background: black;
	width: 100%;
	height: 1px;
}
.targetaIniciSessio .input-container .bar:before, .targetaIniciSessio .input-container .bar:after {
	content: "";
	position: absolute;
	background: #0196C1;
	width: 0;
	height: 2px;
	transition: 0.2s ease;
}
.targetaIniciSessio .input-container .bar:before {
	left: 50%;
}
.targetaIniciSessio .input-container .bar:after {
	right: 50%;
}
.targetaIniciSessio .button-container {
	margin: 0 60px;
	text-align: center;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
	z-index: 2;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	color: rgb(0, 0, 0);
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
	padding: 20px;
	text-decoration: none !important;
}

.carousel__elemento p{
	color: black !important;
}

.glider-slide{
	text-decoration: none !important;
}

.seleccionat{
	background-color: #0196C1;
}

.carousel__elemento:hover {
	animation: augmentarTamany 1s;
	animation-fill-mode: forwards;
}

@keyframes augmentarTamany{
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.carousel__elemento img{
	padding-bottom: 20px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: rgb(0, 0, 0);
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

.sidebar-navigation {
	display: inline-block;
	height: 110vh;
	width: 80px;
	background-color: #0196C1;
	float: left;
  }
  .sidebar-navigation img{
	  width: 30px;
  }
  .sidebar-navigation ul {
	text-align: center;
	color: white;
	list-style: none;
	padding-left: 0px !important;
  }
  .sidebar-navigation ul li {
	padding: 28px 0;
	cursor: pointer;
	transition: all ease-out 120ms;
  }
  .sidebar-navigation ul li i {
	display: block;
	font-size: 24px;
	transition: all ease 450ms;
  }
  .sidebar-navigation ul li .tooltip {
	display: inline-block;
	position: absolute;
	background-color: #48B5D6;
	padding: 8px 15px;
	border-radius: 3px;
	margin-top: -26px;
	left: 90px;
	opacity: 0;
	visibility: hidden;
	font-size: 13px;
	letter-spacing: 0.5px;
  }
  .sidebar-navigation ul li .tooltip:before {
	content: "";
	display: block;
	position: absolute;
	left: -4px;
	top: 10px;
	transform: rotate(45deg);
	width: 10px;
	height: 10px;
	background-color: inherit;
  }
  .sidebar-navigation ul li:hover {
	background-color: #48B5D6;
	width: 100%;
  }
  .sidebar-navigation ul li:hover .tooltip {
	visibility: visible;
	opacity: 1;
  }
  .sidebar-navigation ul li.active {
	background-color: #48B5D6;
  }
  .sidebar-navigation ul li.active i {
	color: white;
  }

/* Estils del footer */
footer{
    text-align: center;
    background-color: #48B5D6;
    color: white;
    width: 100%;
    padding: 30px;
}

.footer-content{
    display: inline-block;
}

.footer-content img{
    width: 120px;
	margin-bottom: 20px;
}