@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

/* Estil que serveix per alinear les targetes */
.card{
    display: inline-block !important;
    margin: 10px;
}

.card img{
    padding: 2px;
}

/* Estil per a totes les pagines - Titols */
h1{
    font-size: 35px !important;
}

h2{
    font-size: 25px !important;
}

p{
    font-size: 15px !important;
}

.card-title p{
    color: black !important;
}

body{
    background-color: #FBFBFB !important;
    text-align: center;
}

.navbar{
    background-color: #48B5D6 !important;
}

.titol{
    padding: 50px;
}

.segonApartat{
    background-color: #0196C1;
    width: 100%;
    padding: 70px;
    padding-top: 40px;
}

.serveiSeparat{
    background-color: white;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.serveiSeparat2{
    background-color: white;
    padding: 2px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 50px;
}


.serveiSeparat img{
    border-radius: 5px;
}

.serveiSeparat p{
    color: black !important;
    text-align: left;
    font-size: 15px !important;
}

.serveiSeparat2 p{
    color: black !important;
    text-align: left;
    font-size: 15px !important;
}

.segonApartat h2, .segonApartat p{
    color: white;
}

.header{
    display: inline-block;
}

.navInici{
    background-color: #48B5D6;
    padding: 20px;
}

button{
    background-color: #046C95 !important;
    padding: 7px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    border-radius: 50px !important;
    color: white;
    border: 0px;
}

.imatgeIniciSessio{
    display: inline-block !important;
    background-color: #B3E0EE;
    border-radius: 100%;
    height: auto;
}

.form-control{
    background-color: #B3E0EE !important;
}

.imatgeIniciSessio img{
    width: 15px;
    margin: 10px;
}

.lletraIniciSessio{
    align-items: center;
    display: inline-block !important;
}

.registre{
	cursor: pointer !important;
	text-decoration: none !important;
	color: white !important;
	text-align: left !important;
}

.sidenav {
	height: 100%;
	width: 300px;
	background-color: #0196C1 !important;
	padding: 50px;
	transition: 0.5s;
}
	
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
}

.sidenav a:hover {
	color: rgb(151, 151, 255);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px !important;
	line-height: 16px !important;
	display: block !important;
	text-align: right !important;
	transition: .3s ease all !important;
	color: #BBBBBB !important;
}

.popup .btn-cerrar-popup:hover {
	color: #000 !important;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

/* Estils del footer */
footer{
    text-align: center;
    background-color: #48B5D6;
    color: white;
    width: 100%;
    padding: 30px;
}

.footer-content{
    display: inline-block;
}

.footer-content img{
    width: 20px;
}